/* @import "tailwindcss"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family:gilroy
}
body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

body,html {
height:100%;
width:100%;
scroll-behavior:smooth;
background-color: rgb(17, 17, 17);
overflow-x: hidden;
color: white;
}